#_______________________________________________________________________
# DESCRIPTION
# This .clang-format file has been modified from the configuration file
# generated with the following command.
#
# clang-format -style=LLVM -dump-config > .clang-format
#
# EXAMPLE USAGE
# Include this file in your workspace. From the command line, run:
#
# clang-format -i *.c* *.h*
#_______________________________________________________________________
---
Language:        Cpp
# BasedOnStyle:  LLVM
AccessModifierOffset: -2
#_______________________________________________________________________
# Align:
#
#   int foo(int a
#           int b,
#           int c)
#_______________________________________________________________________
# DontAlign:
#
#   void foo(
#     int a
#     int b,
#     int c)
#_______________________________________________________________________
AlignAfterOpenBracket: DontAlign # Changed
AlignArrayOfStructures: None

#_______________________________________________________________________
# AcrossEmptyLines: false
#
# Allow declarations to be grouped and lined up differently.
#
#   int a_;
#   int b_cde_;
#
#   unsigned long int fg_;
#   bool              hig_;
#_______________________________________________________________________
# AcrossEmptyLines: true
#
# All declarations lined up even across empty lines.
#
#   int               a_;
#   int               b_cde_;
#
#   unsigned long int fg_;
#   bool              hig_;
#_______________________________________________________________________

#_______________________________________________________________________
#  int   a = 8;
#  short b = 0xFF;
#_______________________________________________________________________
AlignConsecutiveAssignments:
  Enabled:         true # Changed
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  AlignFunctionPointers: false
  PadOperators:    true

#_______________________________________________________________________
#  int a_     : 3;
#  int b_cde_ : 28;
#_______________________________________________________________________
AlignConsecutiveBitFields:
  Enabled:         true # Changed
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  AlignFunctionPointers: false
  PadOperators:    false

#_______________________________________________________________________
#   unsigned long int fg_;
#   bool              hij_;
#_______________________________________________________________________
AlignConsecutiveDeclarations:
  Enabled:         true # Changed
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  AlignFunctionPointers: false
  PadOperators:    false

#_______________________________________________________________________
# #define FOO        123
# #define FLUX_BUNNY 456
#_______________________________________________________________________
AlignConsecutiveMacros:
  Enabled:         true # Changed
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  AlignFunctionPointers: false
  PadOperators:    false

AlignConsecutiveShortCaseStatements:
  Enabled:         false
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCaseColons: false

AlignEscapedNewlines: Right
AlignOperands:   Align

#_____________________________________________________________________
# Always:
#
# printf("fun"); // Test comment
# return;        // Test comment
#_____________________________________________________________________
AlignTrailingComments:
  Kind:            Always
  OverEmptyLines:  0
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
AttributeMacros:
  - __capability
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterExternBlock: false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Leave
BreakAfterJavaFieldAnnotations: false
BreakArrays:     true
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Always

#_______________________________________________________________________
# Attach:
#
# void fun() {
#   /**/
# }
#_______________________________________________________________________
# Allman:
#
# void fun()
# {
#   /**/
# }
BreakBeforeBraces: Allman

BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true

#_______________________________________________________________________
# BeforeComma:
#
# SomeClass::SomeClass()
#   : int_var_(42)
#   , dbl_var_(3.14)
#   , long_int_(0xaaaaaaaabbbbbbbb)
#   , short_var_(0xFF)
#   , bool_var_(true) {}
#_______________________________________________________________________
# BeforeColon:
#
# SomeClass::SomeClass()
#   : int_var_(42), dbl_var_(3.14), long_int_(0xaaaaaaaabbbbbbbb),
#     short_var_(0xFF), bool_var_(true) {}
#_______________________________________________________________________
BreakConstructorInitializers: BeforeComma # Changed
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit:     72 # Changed
CommentPragmas:  '^ IWYU pragma:'
CompactNamespaces: false

#_______________________________________________________________________
# Indent of variables in initializer list. E.g. 8:
#
#   SomeClass::SomeClass()
#           : int_var_(42)
#           , dbl_var_(3.14)
#           , long_int_(0xaaaaaaaabbbbbbbb)
#           , short_var_(0xFF)
#           , bool_var_(true) {}
#_______________________________________________________________________
ConstructorInitializerIndentWidth: 2 # Changed

#_______________________________________________________________________
# Indent of second line of input parameters
#
#   void fun(int* foo, double bar, unsigned long int trevor,
#     unsigned long long int duke) {
#_______________________________________________________________________
ContinuationIndentWidth: 2 # Changed

Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat:   false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IfMacros:
  - KJ_IF_MAYBE

#_______________________________________________________________________
# Preserve:
# Do not group include blocks
#
# Regroup:
# Groups include blocks according to category
#_______________________________________________________________________
IncludeBlocks:   Regroup # Changed

IncludeCategories:

  # Header file for current file
  - Regex:           '^".*\.h*"'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false

  # Includes with <>
  - Regex:           '^<.*>$' # Added
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false


  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false

#  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
#    Priority:        2
#    SortPriority:    0
#    CaseSensitive:   false

#  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
#    Priority:        3
#    SortPriority:    0
#    CaseSensitive:   false

IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true

#_______________________________________________________________________
# None:
#
# #ifdef FOO
# #include <vector>
# #define RABBIT
# #endif

#_______________________________________________________________________
# AfterHash:
#
# #ifdef FOO
# #  include <vector>
# #  define RABBIT
# #endif
#_______________________________________________________________________
IndentPPDirectives: AfterHash

IndentRequiresClause: true
IndentWidth:     2
IndentWrappedFunctionNames: false
InsertBraces:    false
InsertNewlineAtEOF: false
InsertTrailingCommas: None
IntegerLiteralSeparator:
  Binary:          0
  BinaryMinDigits: 0
  Decimal:         0
  DecimalMinDigits: 0
  Hex:             0
  HexMinDigits:    0
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: true
KeepEmptyLinesAtEOF: false
LambdaBodyIndentation: Signature
LineEnding:      DeriveLF
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 2
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PackConstructorInitializers: BinPack

PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakScopeResolution: 500
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 60

#_______________________________________________________________________
# Left: int* foo; Right: int *foo
PointerAlignment: Left # Changed
PPIndentWidth:   -1
QualifierAlignment: Leave
ReferenceAlignment: Pointer
ReflowComments:  true
RemoveBracesLLVM: false
RemoveParentheses: Leave
RemoveSemicolon: false
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 1
SkipMacroDefinitionBody: false
SortIncludes:    CaseSensitive
SortJavaStaticImport: Before
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false

#_______________________________________________________________________
# ControlStatements:
#
#   if (a>0)
#_______________________________________________________________________
SpaceBeforeParens: ControlStatements

SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros:   true
  AfterOverloadedOperator: false
  AfterPlacementOperator: true
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  Never
SpacesInContainerLiterals: true
SpacesInLineCommentPrefix:
  Minimum:         1
  Maximum:         -1
SpacesInParens:  Never
SpacesInParensOptions:
  InCStyleCasts:   false
  InConditionalStatements: false
  InEmptyParentheses: false
  Other:           false
SpacesInSquareBrackets: false
Standard:        Latest
StatementAttributeLikeMacros:
  - Q_EMIT
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TabWidth:        8
UseTab:          Never
VerilogBreakBetweenInstancePorts: true
WhitespaceSensitiveMacros:
  - BOOST_PP_STRINGIZE
  - CF_SWIFT_NAME
  - NS_SWIFT_NAME
  - PP_STRINGIZE
  - STRINGIZE
...

